<% @items.each do |d| %>
	<% d.pictures.each do|p|%>
	  <div class="col-md-4 image-box">
	  	<div class="card">
				<%= image_tag(p.name_url, :class => 'image-box1') %>
				<div class="rating"><%= d.ratings.average(:number) %></div>
				<div class="votes"><%= d.ratings.count(:number) %> votes</div>
				<figcaption>
					<h2 class="caption"><%= d.name %></h2>
					<% d.restaurants.each do |r|%>
						<h2 class="restaurant"><%= r.name %><span style="float: right;margin-right: 10px;font-weight: bold;">$<%= d.price%></span></h2>	
					<% end %>
				</figcaption>
			</div>
			<div class="location1">	
				<% d.restaurants.each do |r|%>
					<% r.locations.each do |l| %>
							<div class="address"><%= image_tag ("4.png"), :style => 'width:25px;' %><%= l.street %>, <%= l.city %>, <%= l.state %>, <%= l.pincode %>, <%= l.country %></div>
					<% end %>
				<% end %>
			</div>	
		</div>
	<% end %>
<% end %>
