<div>   
    <div class="form-group">   
        <label>Dish Name</label>   
        <%= f.text_field :name, :class => "form-control", :placeholder => 'Enter Dish Name' %>
        <span class="err"><%= @dish.errors[:name].join('. ') %></span>    
    </div>
    <div class="form-group">   
        <label>Price</label>   
        <%= f.text_field :price, :class => "form-control", :placeholder => 'Enter price' %>
        <span class="err"><%= @dish.errors[:price].join('. ') %></span>
    </div>
    <div class="form-group">
	    <label>Category</label>   
	    <%= f.select( :category_id, options_from_collection_for_select(Category.all, "id", "name"), {}, {:class => 'form-control'}) %>
    </div>
    <div class="form-group"> 
        <%= f.fields_for :pictures do |p|%>
            <label>Upload Image</label> <br/>
            <%= p.file_field :name%>
            <%= p.hidden_field :name %>
        <%end%>
    </div>	
<div>